# These files are text and should be normalized (convert crlf => lf)
*.cs      text diff=csharp eol=crlf
*.xaml    text
*.csproj  text eol=crlf
*.sln     text eol=crlf
*.tt      text
*.ps1     text
*.cmd     text
*.msbuild text
*.md      text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jepg    binary

*.sdf     binary
